body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
    -webkit-font-smoothing:antialiased;
    /*YuGothic,'Yu Gothic',sans-serif;*/
}
a {
    text-decoration: none;
}

.top{
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.top-container{
    box-sizing: border-box;
    display: block;
}